Source: melodix
Section: admin
Priority: optional
Maintainer: ice <tonimayloneya@gmail.com>
Build-Depends: debhelper-compat (= 12),
  cmake,
  pkg-config,
  qtbase5-dev,
  qtdeclarative5-dev,
  libdtkcommon-dev,
  libdtkcore-dev,
  libdtkgui-dev,
  libdtkdeclarative-dev,
  qttools5-dev-tools,
  libmpris-qt5-dev,
Standards-Version: 4.6.0
Rules-Requires-Root: no

Package: melodix
Architecture: any
Depends: ${shlibs:Depends},
  ${misc:Depends},
Description: Melodix是一款界面美观的在线音乐播放器
